/* https://www.frontendmentor.io/challenges/github-user-search-app-Q09YOgaH6 */

:root {
  --background: rgb(20, 28, 47);
  --background-card: rgb(31, 42, 72);
  --BTN-search: rgb(2, 120, 254);
  --BTN-search-border: none;
  --text-color: aliceblue;
  --text-secondary-color: lightgrey;
  --text-input-color: rgb(175, 175, 175);
  --items-color: invert(1);
  --shadow: none;
}

[data-theme='light'] {
  --background: rgb(170, 200, 255);
  --background-card: whitesmoke;
  --BTN-search: rgb(2, 120, 254);
  --BTN-search-border: rgba(0, 90, 194, 0.7);
  --text-color: rgba(0, 0, 0, 0.8);
  --text-secondary-color: grey;
  --text-input-color: rgb(175, 175, 175);
  --items-color: none;
  --shadow: rgb(184, 188, 200);
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace, Calibri, sans-serif;
}

::placeholder {
  font-size: 0.9rem;
  color: var(--text-input-color);
}

html,
body {
  box-sizing: inherit;
  height: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--background);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 0 1.5rem 1.5rem;
  width: 100%;
  max-width: 768px;
  min-width: 320px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.themeContainer {
  gap: 0.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Searcher */

.searchContainer {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.7rem;
  box-shadow: 0 0 10px var(--shadow);
  background-color: var(--background-card);
}

.searchContainer form {
  gap: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.magnifying-glass {
  height: 20px;
}

#searcher {
  padding: 0.3rem;
  font-size: 0.9rem;
  color: var(--text-input-color);
  text-overflow: ellipsis;
  outline: none;
  border: none;
  background-color: transparent;
  flex-grow: 1;
}

.submit {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 0.5rem;
  border: var(--BTN-search-border);
  background-color: var(--BTN-search);
}

@media screen and (max-width: 520px) {
  body {
    align-items: flex-start; /* Debug mobile view top slice */
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    padding: 0 1rem 1rem;
  }
  .searchContainer {
    padding: 0.5rem;
  }
  .searchContainer form {
    gap: 0.6rem;
  }
  .magnifying-glass {
    display: none;
  }
  #searcher {
    width: 1rem; /* Debug mobile view left side slice */
  }
}

/* Main user's content */

.userContainer {
  margin-top: 1.5rem;
  padding: 1.3rem;
  border-radius: 0.7rem;
  box-shadow: 0 0 10px var(--shadow);
  background-color: var(--background-card);
  display: grid;
  grid-template: repeat(5, min-content) / min-content 1fr;
}

.userContainer > * {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userContainer p,
.userContainer small {
  font-size: 0.9rem;
  color: var(--text-secondary-color);
}

.avatar {
  margin: 0 1rem 1rem 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--shadow);
  background: radial-gradient(var(--background-card), hsla(210, 46%, 95%, 0.2));
  grid-row: span 2;
}

.namesContainer {
  margin: auto 0;
  font-size: 1.3rem;
  display: block;
}

.nickname {
  font-size: 1rem;
  text-decoration: none;
  color: var(--BTN-search);
}

.joined {
  margin: 0 0 auto;
  color: var(--text-input-color) !important;
}

.profile__bio {
  margin: 0.6rem 0 0.4rem;
  grid-column: 1 / -1;
}

@media screen and (min-width: 680px) {
  .userContainer {
    grid-template: repeat(4, min-content) / min-content 1fr 1fr;
  }
  .joined {
    margin: auto 0.35rem;
    justify-self: right;
  }
  .profile__bio {
    margin: 0 0 auto;
    grid-column: 2 / -1;
  }
}

@media screen and (max-width: 425px) {
  .userContainer {
    grid-template: repeat(6, min-content) / 1fr;
  }
  .avatar {
    margin: 0;
    grid-row: span 1;
    justify-self: center;
  }
  .namesContainer {
    margin-bottom: 0.8rem;
    text-align: center;
    order: -1;
  }
  .joined {
    margin: 0.7rem 0 0.4rem;
    grid-row: 3 / 4;
    justify-self: center;
  }
  .profile__bio {
    text-align: center;
  }
}

/* Stats & Items*/

.stats {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: var(--background);
  justify-content: space-evenly;
  grid-column: 1 / -1;
}

.followers {
  margin: 0 2rem;
}

.stats h3 {
  margin: 0.5rem 0 0;
  text-align: center;
}

.itemsContainer {
  grid-column: 1 / -1;
  overflow: scroll;
  display: grid;
  grid-template: repeat(1, min-content) / repeat(2, 1fr);
  grid-auto-flow: column;
  justify-items: center;
  column-gap: 1.2rem;
}

.itemsContainer__primary > *,
.itemsContainer__secondary > * {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.itemsContainer a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text-secondary-color);
}

.itemsContainer a,
.itemsContainer p {
  margin: 0.7rem 0;
}

.itemsContainer img {
  padding-right: 0.7rem;
  filter: var(--items-color);
}

@media (max-width: 520px) {
  .stats {
    justify-content: space-between;
  }
  .stats small {
    font-size: small;
  }
  .followers {
    margin: 0;
  }
  .itemsContainer {
    display: block;
  }
}

/* Flex alternative on items' section 

.itemsContainer {
  grid-column: 1 / -1;
  overflow: scroll;
}

.itemsContainer a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text-secondary-color);
}

.itemsContainer a,
.itemsContainer p {
  margin: 0.7rem 0;
}

.itemsContainer__primary,
.itemsContainer__secondary {
  margin: 0 auto;
}

.itemsContainer__primary > *,
.itemsContainer__secondary > * {
  margin: 0 1.2rem 0 auto;
  display: flex;
  align-items: center;
}

.itemsContainer__primary img,
.itemsContainer__secondary img {
  padding-right: 0.7rem;
  filter: var(--items-color);
}

@media (max-width: 520px) {
  .stats {
    justify-content: space-between;
  }
  .followers {
    margin: 0;
  }
  .itemsContainer {
    display: block;
  }
} */
